    <div id="wrapper">
      <h1>Scraping the bottom of the Interwebs for News!</h1>
      <h2><i>News Articles will go here once it's working!</i></h2>
      <div id="articles"></div>
      <div id="notes"></div>
    </div>